# Virtual environments
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
*.egg-info/
dist/
build/

# Layer directories
ml-layer/
layer1/
layer2/
layer3/
*-layer/

# Jupyter
.ipynb_checkpoints/

# ML specific
*.pkl
*.joblib
*.h5
*.npy

# AWS
*.zip
response.json

# IDE
.idea/
.vscode/

# OS
.DS_Store
